/* @import url("https://fonts.googleapis.com/css?family=Muli:300,700&display=swap"); */

/* * {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: black;
} */

.box {
  background-color: #035b96;
  /* border-radius: 20px; */
  padding: 30px;
  /* max-width: 1440px; */
  text-align: center;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box h2 {
  margin: 10px 0 0;
  color: #ffffff;
}

.box p {
  color: #ffffff;
  margin: 10px;
}

.box img {
  max-width: 100%;
  width: 400px;
}

.form-controll {
  position: relative;
  margin: 30px 0 20px;
  width: 370px;
}

.news_inputfield {
  border: 0;
  border-radius: 50px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  display: block;
  font-family: "Muli", sans-serif;
  font-size: 14px;
  height: 42px;
  width: 100%;
  padding: 12px 25px;
  background: white;
}

/* .btn {
  background-color: #dcdcdc;
  border: 0;
  color: #035b96;
  font-size: 14px;
  height: 42px;
  position: absolute;
  padding: 12px 25px;
  top: 0;
  right: 0;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
} */
.new_btn {
  background-color: #dcdcdc;
  border: 0;
  color: #035b96;
  font-size: 14px;
  height: 42px;
  position: absolute;
  padding: 12px 25px;
  top: 0;
  right: 0;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}
.news_inputfield:focus,
.btn:focus {
  outline: 0;
}

input[type="text"] {
  color: black;
}

.copyright {
  font-family: Alef;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
}
