.testimonial-container {
  /* background-image: url("back_img.png"); */
  background: rgba(244, 244, 244, 1);
  padding-bottom: 0;
  text-align: center;
}

.testimonials-title {
  text-transform: uppercase;
  padding-top: 0.5rem;
  font-weight: bold;
  font-style: normal;
  font-family: sans-serif;
  font-size: 2.25rem;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #035b96;
}

.testimonials-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.3rem;
}


.testimonials-btn p {
  max-width: 40%;
  height: 40px;
  background-color: #035b96;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
  margin: 3px;
  margin-bottom: 1rem;
  border-radius: 6px;
  font-style: normal;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 8px;
}

.testimonials-description {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #5f5f5f;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  background-color: #fff;
  border-radius: 5px;
  margin: 15px auto 0;
  cursor: pointer;
  border-radius: 10px;
}

.testimonial-body {
  color: var(--dark);
  padding: 15px;
  height: 270px;
  text-align: center;
  font-family: sans-serif;
}

.testimonial-body .quote {
  padding-right: 10px;
  color: var(--light);
}

.testimonial-body .quote:last-child {
  padding-left: 10px;
  vertical-align: top;
}

.testimonial-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.testimonial-image img {
  widows: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 5px;
}

.testimonial-image {
  font-size: 14px;
}
.test-btn{
  color: #fff;
  background-color: #035b96;
  border-color: transparent;
  border-radius: 6px;
  width: max-content;
  display: inline-block;
  padding: 0.7rem 1.8rem;
  font-weight: 400;
  font-size: 20px;
}

.testimonial-image p:first-child {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #5f5f5f;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  display: none;
}



li.alice-carousel__dots-item.__active {
  background-color: #035b96!important;
}

li.alice-carousel__stage-item {
  transform: translateX(-1rem);
}

ul.alice-carousel__dots {
  padding: 5px;
  margin: 0;
}

@media (max-width: 800px) {

  .testimonials-btn p {
    max-width: 70%;
  }
  .test-btn{
    width: auto;
    height: 50%;
  }
  
}

@media (max-width: 400px) {
  .testimonial-body {
    padding: 5px;
  }
  .testimonials-title {
   
    font-size: 1.8rem;
    line-height: 2.5rem;
    text-align: center;
    letter-spacing: 0.05em;
    color: #035b96;
  }
  
  .testimonials-btn p {
    line-height: 1rem;
  }
   
  .testimonials-btn p {
    font-size: 0.8rem;
  }
  .test-btn{
    width: auto;
  }
  
}

.alice-carousel__stage {
  margin-left: 1.2rem;
 
}

.footer-border {
  display: inline-flex;
  width: 220px;
  height: 3px;
  background: #035b96;
  margin: 17px;
}
